Flask==0.11
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.15
wheel==0.24.0
Flask-PyMongo==0.4.1
python-wowapi
requests[security]
jsonschema
gunicorn
future
pylint
fabric3
-e git+https://github.com/ShadowCraft/ShadowCraft-Engine.git@netherlight#egg=ShadowCraft-Engine
