<!doctype html>
<html>

<head>
  {% if page_title is not defined %}
  <title>ShadowCraft - Rogue DPS Spreadsheet</title>
  {% else %}
  <title>{{ page_title }} - ShadowCraft</title>
  {% endif %}
  <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png" />
  <link href="http://shadowcraft.mmo-mumble.com/humans.txt" rel="author" type="text/plain">
  <link href="{{ url_for('static', filename='css/main.css') }}" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

  <!-- Attach React components -->
  <div id="appjs"></div>

  <!--javascript bundle-->
  <script type="text/javascript" src="{{ url_for('static',
                                        filename='bundle.js') }}"></script>
  <div id="footer">
    <div class='padding'>
      Questions to <a href="mailto:shadowcraft@ravenholdt.net">Ravenholdt</a> &bull; UI source at <a href="http://github.com/cheald/shadowcraft-ui">GitHub</a>      &bull; discussion at <a href="https://discord.gg/DdPahJ9">Ravenholdt</a> &bull; DPS/EP engine source at <a href="https://github.com/Fierydemise/ShadowCraft-Engine">GitHub</a>      &bull; Hosting provided by <a href="http://mmo-mumble.com">MMO-Mumble.com</a>
    </div>
  </div>
</body>

</html>