<!doctype html>
<html>

<head>
  {% if page_title is not defined %}
  <title>ShadowCraft - Rogue DPS Spreadsheet</title>
  {% else %}
  <title>{{ page_title }} - ShadowCraft</title>
  {% endif %}
  <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png" />
  <link href="http://shadowcraft.mmo-mumble.com/humans.txt" rel="author" type="text/plain">
  <link href="{{ url_for('static', filename='css/main.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <script async src="//static-azeroth.cursecdn.com/current/js/syndication/tt.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>

  <noscript>
    <div class='characters-new' id='container'>
      <div id='create_character'>
        <div class='form'>
          <p class='requires-js'>Shadowcraft requires Javascript to run. Please turn it on and disable NoScript.</p>
          <p>Shadowcraft runs best with a modern browser with full HTML5 support.</p>
          <p class='browser-list'>For best results, use:</p>
          <div class='browsers'>
            <a href='http://www.google.com/chrome/intl/en/landing_chrome.html'>
              <img alt="Chrome" src="../static/images/browser/chrome.png" />
              <span>Google Chrome</span>
              <em>Best</em>
            </a>
            <a href='http://www.apple.com/safari/'>
              <img alt="Safari" src="../static/images/browser/safari.png" />
              <span>Apple Safari</span>
              <em>Best</em>
            </a>
            <a href='http://www.mozilla.com/en-US/firefox/RC/'>
              <img alt="Firefox" src="../static/images/browser/firefox.png" />
              <span>Mozilla Firefox</span>
              <em>Good</em>
            </a>
            <a href='http://www.beautyoftheweb.com'>
              <img alt="Ie" src="../static/images/browser/ie.png" />
              <span>Internet Explorer</span>
              <em>Good</em>
            </a>
          </div>
        </div>
      </div>
    </div>
  </noscript>

  <!-- Attach React components -->
  <div id="appjs"></div>

  <!--javascript bundle-->
  <script>
  // using this method for now until we figure out the best way to get data into the app
    {% if character_json %}
      var characterJson = {{ character_json | safe }}
    {% else %}
      var characterJson = undefined;
    {% endif %}
  </script>
  <script type="text/javascript" src="{{ url_for('static',
                                        filename='bundle.js') }}"></script>
</body>

</html>
